

<form [formGroup]="eventForm" (ngSubmit)="onSubmit()" style="display: flex; flex-direction: column; gap: 12px; max-width: 400px;">
  <h2>Add New Event</h2>
  <label>Title</label>
  <input type="text" formControlName="title" required />
  

  <label>Description</label>
  <textarea formControlName="description" required ></textarea>

  <label>Date (dd-mm-yyyy)</label>
  <input type="date" formControlName="date" required />
 
  <label>Category</label>
  <select formControlName="category">
    <option value="">-- Select Category --</option>
    <option value="Personal">Personal</option>
    <option value="Milestone">Milestone</option>
    <option value="Work">Work</option>
    <option value="Education">Education</option>
  </select>

  <button type="submit">Add Event</button>

  <p class="success" *ngIf="successMessage">{{ successMessage }}</p>
  <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
</form>

